<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Emotion App</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">

		<style type="text/css">
			html,
			body {
			  height:100%;
				font-family: 'Yanone Kaffeesatz', sans-serif;
				color: #ccc;
				background-color: #333 !important
			}
			.colorclass {
				background-color: #333333 !important
			}
		</style>
	</head>

	<body class="body" style="background-color:#f6f6f6">
		<div class="container-fluid jumbotron colorclass" style="min-height:95%; ">
			<div class="row">
				  <div class="col-sm-12">
					  <br>
					  <center>
					  	<h1>Emotion Detector</h1>
					  </center>
				  </div>
			</div>

				  <br>
					<br>
				   <!-- Great, til you resize. -->
					<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->

					<div class='container-fluid'>
					<br><br>
					   {% block content %}
					   {% endblock %}
					</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/particles.min.js' %}"></script>
	</body>

</html>
