{% extends "emotiondetector/header.html" %}
{% block content %}
<div class="row" >

	<div class="col-sm-6 text-center">

		<form method="post" id='form' enctype="multipart/form-data">
			{% csrf_token %}
			<label for="file-input"><h3 class='text-center'>Detect from Image</h3><br><i class="fas fa-upload fa-7x"></i></label>
			<input type="file" id='file-input' name="myfile" style="display: none;">
		</form>
	</div>
	<div class="col-sm-6 text-center">
		<form method="post" enctype="multipart/form-data" action='webcam'>
			{% csrf_token %}
			<label for="webcam"><h3 class='text-center'>Detect from Webcam</h3><br><i class="fas fa-camera fa-7x"></i></label>
			<input type="submit" id='webcam' name="webcam" style="display: none;">
		</form>
	</div>
</div>
<br><br>
	{% if uploaded_file_url %}
		<h2 class="text-center">{{ prediction }}</h2>
	{% endif %}

{% endblock %}
